hr {
	background: black;
}

input, textarea {
	border-radius: 3px; 
	border: 1px solid #cdc7c6;
	padding: 8px;
	background: #f2d7d5;
}

body {
	font-family: calibri; 
	font-size: 18px;
}

label {
	color: #C1C0C0;
}

hr {
	border: 0.5px solid #ccc;
}

a {
    text-decoration: none !important;
}
.eighty {
	width: 80%;
}

.bod10{
	border-radius: 10px; 
	padding: 10px;
}

.pad10{
	padding: 10px !important;
}

.font20{
	font-size: 20px;
}
.thirty-three {
	width: 33.3%;	
}

.glyphicon-ring {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid white;
  color: white;
  display: inline-table;
  text-align: center;
}

.font16 {
	font-size: 16px;
}
.width10{
	width: 10%;
}

.width-hundred {
	width: 100%;
}

.bod-white {
	border: 0px;
}

.user-info {
	width: 80%;
	border: solid 1px #ddd;
	border-radius: 8px;
	background-color: #fff;
	margin-bottom: 20px;
}

.black-div {
	width: 100%;
	background-color: #292828;
	position: relative;
	color: #292828;
	padding: 22px;
}

.image-div {
	border-radius: 50px;
	width: 80px;
	height: 80px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 15px;
}

.info-div {
	text-align: center;
	padding: 24px;
}

.user-text {
	text-align: "justify";
}

.bold-text {
	font-size: 22px;
}

.mail-icon {
	color: #fff;
	border-radius: 50px;
	background-color: #4bea4b;
	padding: 10px;
	font-size: 1.2em;
}

.mail-icon:hover {
	color: #ddd; 
}
.uppercase-text {
	text-transform: uppercase;
}

input[type=text]:focus, textarea:focus {
	background-color: #fff;
}

.icon-span:hover {
	color:#ae3c3c;
}